.shopping_Cart {
    border: 1px solid black;
    width: 1160px;
    height: 350px;
    margin: 20px;
    padding: 20px;
  }
  
  .shopping_Cart h1 {
    font-size: 28px;
    margin: 0px;
  }
  
  #price_Text {
    float: right;
  }
  
  .item_Cart_Data {
    border: 1px solid black;
    width: 1158px;
    height: 202px;
    display: flex;
  }
  
  #item_Heading {
    font-size: 18px;
    height: 40px;
  }
  
  #item_Rate {
    margin-left: 293px;
    font-size: 18px;
    font-weight: bold;
    height: 40px;
  }
  .cart_Main_Container {
    display: flex;
  }
  
  .cart_Sub_Total {
    border: 1px solid black;
    width: 300px;
    height: 100px;
    margin: 20px 0px;
  }
  
  #cart_Links {
    font-size: 12px;
    color: #007600;
    text-decoration: none;
  }
  
  #cart_Small_Text {
    font-size: 12px;
  }
  
  .shop_cart {
    border-radius: 4px;
    padding: 3px;
    border: 1px #ddd solid;
    width: 75.75px;
    height: 27.2px;
    margin-left: 5px;
  }