.Amazone {
  width: 128px;
  height: 50px;
  border: 1px solid transparent;
  margin-left: 20px;
  padding: 0px 9px;
}
.Amazone:hover {
  border: 1px solid white;
}

.Navbar {
  height: 60px;
  color: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  position: sticky;
    width: 99.9%;
    top: 0;
}

.India {
  width: 20px;
  height: 16px;
  margin-left: 30px;
}

.List {
  margin-left: 15px;
  position: relative;
}
.SignIn {
  border: 1px solid transparent;
}
.SignIn:hover {
  border: 1px solid white;
}

.Return {
  margin-left: 15px;
  border: 1px solid transparent;
  padding: 4px 12px;
}
.Return:hover {
  border: 1px solid white;
}
.Cart {
  margin-left: 15px;
  border: 1px solid transparent;
  padding: 10px 22px;
}
.Cart:hover {
  border: 1px solid white;
}
