.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


.Container {
  width: 100%;
  height: 406px;
  color: white;
}
body{
  background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(4,29,57,0.9836309523809523) 0%, rgba(4,29,57,1) 0%, rgba(237,247,247,1) 0%, rgba(26,24,54,1) 0%, rgba(30,45,75,1) 0%, rgba(43,134,235,0.9360119047619048) 0%, rgba(24,96,111,1) 100%);}


